.centrarIMG{
    height: 4em;
}

.logo{
    height: 2.8em;
}

.txt-center{
    text-align: center;
}

.carritoCantidad{
    border: solid #bb2d3b;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-top: 53px;
    padding-bottom: 23px;
    margin-left: -31px;
}

.btn-primary{
    color: #fff;
    background-color: #232323;
    border-color: #323131;
}

.btn-primary:hover{
    background-color: #5f5f5f;
}

.imgA{
    width: 150px;
}